body{margin: 0;
    }

 h2, h3, h4{

    background-color: #3B7586;
    color: whitesmoke
}

.menu {
    background-color: #3B7586;
    margin: 0%;
    padding-left: 0%;
}
.menu li{
    padding: 0%;
    margin: 0%;
    display: inline-block;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
}
 
.menu a{

    color: whitesmoke
}

.container{

    width: 80%;
    margin: auto;
}
 